<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<section class="hero is-link has-text-centered">
    <div class="hero-body">
      <p class="title">
        Mood Card
      </p>
      <p class="subtitle">
        Login
      </p>
    <p>
        <form method="POST" action="/login">
            {% csrf_token %}
            <input  name="username" placeholder="username" />
            <input  name="password" placeholder="password" type="password" />
            <input type="submit" />
        </form>
        <a class= "button is-link is-outlined is-light mt-4" href="/signup">Sign Up</a>
    </p>
    </div>
</section>